header{
    float: left;
   height: 75px;
  background-color: #4aaaa5;
  background-size: 50px;
   color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
}

.P-lio{
  display: inline-block;
    background-color: white;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;   
    text-decoration: none;
    padding: 20px;
}

  .A-Me {
    display: inline-block;
    padding: 20px;
    background-color: white;
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;   
}



  .C-tact{
    padding: 20px;
    display: inline-block;
    background-color: white;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;  
    text-decoration: none;
}
  p{
    /* margin: 50px;
    padding: 40px;
    padding-right: 21px;
    padding-left: 14px;
    margin-right: auto;
    margin-left: auto; */
    background-color:white;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
  }

  p1{
    
    background-color:white;
    font-display: #000808;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }

  body{
    float: left;
   
    margin: 50px;
    padding: 40px;
    padding-right: 21px;
    padding-left: 14px;
    background-color: rgb(245, 239, 239);
  }
 
  
  html { 
    background-image: "assets/images/lilypads.png"; 
    background-size: cover;
    background-attachment: fixed;

  }
  .container{
   width: 960px;
   background-color: white;
   margin: 0px;

  }

  image{
/* position: relative; */
float: left;
  }
  .clearfix::after{
content: "";
display: block;
clear: both;  
}