body { 
  background-image: url("../images/lilypads.png"); 
  background-size: cover;
  background-attachment: fixed;
  
}
header{
  float: left;
  height: 75px;
  background-color: #4aaaa5;
  background-size: 50px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
}
  .clearfix::after{
  content: "";
  display: block;
  clear: both;  
  }
    .container{
      width: auto;
       background-color: white;
       margin: 45px;
    
      }

.gray{
  color: gray;
}

.P-lio{
  display: inline-block;
  background-color: white;
  color: gray !important;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;   
  text-decoration: none;
  /* padding: 20px; */
  /* /* padding-bottom: 0px;
  height: 55px; */
  padding-left: 200px; 
  height: 20px;
  margin-top: 20px;
}


  .A-Me {
    display: inline-block;
    /* padding: 20px; */
    background-color: white;
    color: grey !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;   
    /* padding-bottom: 0px;
    height: 55px; */
    height: 20px;
  margin-top: 20px;
}



  .C-tact{
    /* padding: 20px; */
    display: inline-block;
    background-color: white;
    color: gray !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;  
    text-decoration: none;
    /* padding-bottom: 0px;
    height: 55px; */
    height: 20px;
    margin-top: 20px;
  }

  
  body{
    /* float: left; */
    
    /* margin: 50px;
    padding: 40px;
    padding-right: 21px;
    padding-left: 14px; */
    margin-left: 95px;
    margin-right: 50px;
    background-color: rgb(245, 239, 239);
  }
      #container1{
        padding-top: 30px;
        width: 960px;
        background-color: white;
        margin: 0px;
      }
      
      
        image{
      /* position: relative; */
      /* float: left; */
      /* padding-top: 30px; */
      /* display: block; */
      /* float: left; */
      display: inline-block;
        }
  p{
  /* margin: 50px;
  padding: 40px;
  padding-right: 21px;
  padding-left: 14px;
  margin-right: auto;
  margin-left: auto; */
  background-color:white;
  color: #4aaaa5;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  
}
.p1{
  padding: 10px;
  color: gray;
  font-size: 30px;
  font-style: strong;
  /* padding-left: 15px; */
  margin-left: 45px;
  
}

.p2{
  background-color:white;
  /* font-display: #000808; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  text-align: left;
  display: inline-block;
  width: 550px; 
  /* float: left; */
  margin-left: 5px;
  color: #000808;
 

}
<!-- start of Contact page>

.form-group{
  width: 960px;
  float: left;
}
button{
  background-color: #4aaaa5;
  color: white;
}
.container2{
  width: auto;
   background-color: white;
   margin: 45px;

  }
  .down{
    display: block;
    font-size: 25px;
    padding-top: 25px;
  }

  .size{
    height: 250px;
    width: 880px;
    margin-bottom: 25px;
  }

  .test{
    height: 25px;
    width: 880px;
  }

  .button{
    height: 35px;
    width: 60px;
    /* padding-left: 550px; */
    /* padding-top: 25px; */
  }

  <!-- Start Portfolio Page>


  .penguin{
    padding-top: 30px;
    padding-right: 50px;
    padding-left: 150px;
    padding-bottom: 50px;
   
  }